# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives :__
+ List popular languages for Data Science.
+ List somy libraries that used by Data Scientists.
+ List of some open source tools that DS used.
+ a few examples of evaluating arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
* Numpy
* Panda
* Matplotlib

| Data Science Tools |
|----------------|
|Rstudio|
|Anaconda|
|Jupyter notebook|
|Google Colabratory|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
#This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [24]:
#This will convert 200 minutes to hours by diving by 60.

minutes =200

hours = minutes /60

print(hours)

3.3333333333333335

## Author
Ahmad Ramadan